<div class="resumen-final">
  <section>
    <form #formulario="ngForm" class="margenChico" (ngSubmit)="guardarDatosPerfil()">
      <div>
        <label for="nombre" id="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="perfil.nombre" #nombre="ngModel" minlength="3"
          required />
        <p class="error" *ngIf="nombre.invalid && nombre.touched">
          Ingrese un nombre
        </p>
      </div>
      <!-- <div>
        <input type="hidden" id="direccion" name="direccion" [(ngModel)]="perfil.direccion" />
      </div> -->
      <div>
        <label for="notas">Notas</label>
        <input type="text" id="notas" name="notas" [(ngModel)]="perfil.detalleEntrega" />
      </div>
      <div class="checkboxes__item">
        <label class="checkbox style-h" for="takeAway">
          <input type="checkbox" id="takeAway" name="takeAway" [(ngModel)]="perfil.takeAway" />
          <div class="checkbox__checkmark"></div>
          <div class="checkbox__body">Take Away</div>
        </label>
      </div>

      <!-- <button (click)="navigateToAdmin()">Admin Panel</button> -->
    </form>
  </section>
  <div class="pedido-footer">
    <button [disabled]="formulario.invalid">Enviar</button>
  </div>
</div>