// app-tabs{
//   // margin-top: auto;
//   position:fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
*{
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: transparent;
}
app-tabs{
  margin-top: auto;
  z-index: 25;
}
main{
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 6px;

}
main::-webkit-scrollbar {
  display: none;
}
