<ng-container *ngIf="CartService.carrito.length !== 0; else sinCarrito">
  <div id="container">
    <div
      *ngFor="let item of productosCarrito(); index as i"
      class="tarjetaProdContainer margenChico"
    >
      <div
        class="izq"
        [ngStyle]="{ 'background-image': 'url(' + item.fotoUrl + ')' }"
      >
        <div>
          <img
            *ngIf="item.esCeliaco"
            src="../../../assets/icons/celiaco.png"
            alt="celiaco"
          />
          <img
            *ngIf="item.esVegano"
            src="../../../assets/icons/vegano.svg"
            alt="vegano"
          />
        </div>
      </div>
      <div class="centro">
        <p class="negrita">{{ item.nombre }}</p>
        <p *ngIf="item.notas !== ''" id="notas-carrito">{{ item.notas }}</p>
        <ul>
          <li *ngFor="let extra of item.extras">
            <p id="extra-nombre">{{ extra.nombre }}</p>
          </li>
        </ul>
        <app-contador-cantidad
          [cantidadInicial]="item.cantidad"
          (cantidadNueva)="cambiarProductoCantidad(item.id, $event)"
        ></app-contador-cantidad>
      </div>
      <div class="der">
        <button (click)="eliminarProd(item.id)" class="borrar">
          <img src="../../../assets/icons/borrarr.png" alt="" width="20px" />
        </button>
        <div class="precios">
          <div class="extras-li">
            <li *ngFor="let extra of item.extras" class="li-extras">
              <h4 id="precio-extra">${{ extra.precio }}</h4>
            </li>
          </div>
            <p class="negrita">${{ item.precio }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-mas">
    <a id="mas" [routerLink]="['/home']" routerLinkActive="router-link-active"
      >+</a
    >
  </div>
  <section class="margenChico" id="informacion">
    <h3>Direccion de Envío</h3>
    <div class="flexApart" id="envioContainer">
      <div>
        <ng-container *ngIf="perfilService.perfil(); else sinDatosEnvio">
          <h4>{{ perfilService.perfil()!.nombre }}</h4>
          <p>
            {{ perfilService.perfil()!.direccion }} -
            {{ perfilService.perfil()?.telefono }}
          </p>
          <p>{{ perfilService.perfil()!.detalleEntrega }}</p>
        </ng-container>
        <ng-template #sinDatosEnvio>
          <p>Ingresa tus datos de envio</p>
        </ng-template>
      </div>
      <div>
        <a
          href=""
          [routerLink]="['/perfil']"
          routerLinkActive="router-link-active"
        >
          <img src="../../../assets/icons/lapizz.png" alt="editar" />
        </a>
      </div>
    </div>
    <div id="totales" class="flexApart">
      <div>
        <p class="subtitle-negrita">Subtotal</p>
        <p class="extras-negrita">Extras</p>
        <p class="negrita">Total</p>
      </div>
      <div id="montos">
        <p class="precio-negrita">${{ subtotal - extraTotal}}</p>
        <p class="precio-negrita">${{ extraTotal }}</p>
        <p class="negrita">${{ total }}</p>
      </div>
    </div>
    <div>
      <button
        id="enviar"
        [disabled]="!perfilService.perfil()"
        (click)="enviarMensaje()"
      >
        Realizar pedido
      </button>
    </div>
  </section>
</ng-container>

<ng-template #sinCarrito id="cart">
  <h2>Carrito Vacío</h2>
  <img src="../../../assets/icons/cart.png" alt="" class="animated-image" />
</ng-template>

<dialog method="modal" #dialog>
  <p>¿Pudiste realizar el pedido?</p>
  <div>
    <button id="modal-btn" (click)="finalizarPedido()">Si</button>
    <button id="modal-btn" (click)="editarPedido()">No</button>
  </div>
</dialog>
