@use '../../../assets/styles/variables.scss';

h2 {
  font-size: xx-large;
  text-align: center;
  margin-top: 50px;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tarjetaProdContainer {
  position: relative;
  display: flex;
  min-height: 100px;
  max-height: 120px;
  border-radius: variables.$border-radius-mediano;
  overflow: hidden;
  background-color: variables.$color-principal-claro;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
  }
}

.izq {
  width: 25%;
  background-position: center;
  background-size: cover;
  border-radius: variables.$border-radius-mediano;

  >div {
    position: absolute;
    bottom: 8px;
    left: 8px;

    img {
      height: 30px;
      background-color: rgba(240, 248, 255, 0.634);
      border-radius: 50%;
    }
  }
}

.centro {
  width: 65%;
  gap: 3px;
}

.der {
  width: 10%;
  background-color: unset;
  align-items: center;
  .extras-li {
    padding-bottom: 7px;
    .li-extras {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

.borrar {
  background-color: unset;
  border: unset;
  cursor: pointer;
  padding: 0;
}

#mas {
  font-size: xx-large;
  text-decoration: none;
  color: black;
  background-color: variables.$color-principal-claro;
  padding: 05px 20px;
  border-radius: variables.$border-radius-mediano;
}

#informacion {
  font-size: larger;

}

#envioContainer {
  background-color: variables.$color-principal-claro;
  border-radius: variables.$border-radius-mediano;
  padding: 10px;
  margin: 10px 0;

  h4 {
    font-size: larger;
    align-items: center;
  }
}


#montos {
  text-align: end;
}

#totales>div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#enviar {
  display: block;
  margin-top: 20px;
  font-size: larger;
  background-color: variables.$color-principal;
  border: unset;
  cursor: pointer;
  padding: 10px;
  border-radius: variables.$border-radius-mediano;
  font-size: 22px;
  width: 100%;
}

#enviar:hover {
  background-color: rgb(228 137 137 / 66%);
}

dialog {
  background-color: white;
  border-radius: 10px;
  border: unset;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.164);

  div {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  #modal-btn {
    font-weight: bold;
    border-radius: 8px;
    border: unset;
    height: 4rem;
    max-height: 4rem;
    align-items: center;
    justify-content: center;
    font-size: larger;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: black;

    &:first-of-type {
      background-color: rgb(9 167 17 / 79%);
    }

    &:last-of-type {
      background-color: rgb(215 19 19 / 73%);
    }

    span {
      font-size: x-large;
    }
  }

  p {
    font-size: x-large;
    text-align: center;
  }
}

#cart {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

@keyframes moveX {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(100vw);
  }
}

.animated-image {
  position: absolute;
  left: 0;
  width: 80px;
  height: auto;
  animation: moveX 5s linear infinite;
  transform: translateY(-50%);
}
.subtitle-negrita, .extras-negrita, .precio-negrita{
    font-weight: 500;
    font-size: medium;
}



.rating {
  text-align: center;
  align-items: flex-end;
}

.rating .stars .star {
  cursor: pointer;
  font-size: 24px;
  color: gray;
  span{
    user-select: none;
  }
}

.rating .stars .star.filled {
  color: gold;
}



